.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Custom Css */
@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg {
    max-width: 1408px !important;
  }
}

.main-section {
  padding-top: 50px !important;
  float: left;
  max-width: 967px;
  padding-top: 10px;
}

.right-section {
  padding-top: 53px;
  float: right;
  max-width: 393px;
  height: calc(100vh - 53px);
  background-color: rgb(248, 250, 251);
  text-align: center;
}

.right-section .pa-46 {
  padding: 0 46px;
}

.image1 {
  width: 100%;
  height: auto;
}

.coverage {
  padding: 65px 0px 0px 0px;
  text-align: left;
  color: #959a9c;
}

.coverage-text {
  color: #959a9c;
  padding-bottom: 27px !important;
}

.MuiTabs-flexContainer {
  border-bottom: 2px solid rgba(0, 0, 0, .125);
}

.Mui-selected {
  color: #20262a !important;
  font-weight: bold !important;
}

.tabPanel-header {
  font-size: 20px;
  margin: 11px 0px 35px 0px;
}

.tabPanel-text {
  font-size: 18px;
  line-height: 1.35 !important;
  color: #788995 !important;
}

/* collapse */
.accordionDetails {
  padding-bottom: 27px;
}